---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("blog");
---

<Layout>
  <h1>آخر المقالات</h1>
  <div class="posts-list">
    {
      posts.map((post) => (
        <article>
          <h2>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </h2>
          <time>{post.data.arabicDate}</time>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </div>
</Layout>
