---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1 class="dark:text-white">404 - الصفحة غير موجودة</h1>
    <p class="dark:text-white">
      عفواً، الصفحة التي تبحث عنها غير موجودة أو ربما تم نقلها.
    </p>
    <p>
      <a class="dark:text-white" href="/">العودة إلى الصفحة الرئيسية</a>
    </p>
  </div>
</Layout>
