---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>404 - الصفحة غير موجودة</h1>
    <p>عفواً، الصفحة التي تبحث عنها غير موجودة أو ربما تم نقلها.</p>
    <p>
      <a href="/">العودة إلى الصفحة الرئيسية</a>
    </p>
  </div>
</Layout>
