---
import Layout from "../layouts/Layout.astro";

const title = "حول - صفحة";
const description = "مدونة صفحة - معلومات عن المدونة";
const lang = "ar";
---

<Layout title={title} lang={lang} , description={description}>
  <main>
    <h1>حول المدونة</h1>
    <p>
      مرحبًا بكم في مدونة "صفحة"، المنصة التي تسلط الضوء على المحتويات العربية
      المميزة.
    </p>
    <p>
      نقدم لك هنا معلومات عن رؤيتنا ورسالتنا وأهدافنا. نأمل أن تجد ما يلهمك
      ويثري تجربتك.
    </p>
  </main>
</Layout>
