---
import { getCollection } from "astro:content";
import { formatArabicDate } from "../lib/dates";
import Layout from "./Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      year: post.slug.split("/")[0],
      month: post.slug.split("/")[1],
      slug: post.slug.split("/")[2],
    },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="المدونة">
  <header></header>
</Layout>

<html lang="ar" dir="rtl">
  <head>
    <title>{post.data.title}</title>
    <link rel="stylesheet" href="/styles/rtl.css" />
  </head>
  <body>
    <article>
      <h1 class="">{post.data.title}</h1>
      <time datetime={post.data.pubDate.toISOString()}>
        {formatArabicDate(post.data.pubDate)}
      </time>
      <Content />
    </article>
  </body>
</html>
