---
import Head from "./Head.astro";

interface Props {
  title: string;
  description?: string;
  lang?: string;
  dir?: "ltr" | "rtl";
}

const { title, description, lang } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
